

.arrayContainer {
    margin-bottom: 1.5%;
    /* border: 3px solid green; */
    /* position: absolute;
    left: 200px;
    top: 100px; 
    bottom: 20px; */
}

.arrayBar {
    width: 0.75%;
    border-radius: 3px;
    display: inline-block;
    margin: 1px;
    transition: 0.20s;
}

.arrayBar:hover{
    transform: scale(1.15);
}

.buttons{
    margin-bottom: 2%;
}

body { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
