

.arrayContainer {
    margin-bottom: 1.5%;
    // border: solid 3px green;

    /* position: absolute;
    left: 200px;
    top: 100px; 
    bottom: 20px; */
}

.arrayBar {
    // border-radius: 30%;
    border-radius: 4px;
    display: inline-block;
    margin: 1px;
    transition: 0.20s;
}

.arrayBar:hover {
    transform: scale(1.2);
}

.buttons{
    margin-bottom: 2%;
}
  