@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Zen+Loop&display=swap");
@import "./variables.scss";

.App {
  text-align: center;
}

.welcomediv{  
  text-align: center;
  margin: auto;

  :hover{
    cursor: pointer;
  }
}

.welcome {
  color: white;
  font-size: 250%;
  word-spacing: 1.3em;
}

.welcome2 {
  color: white;
  font-size: 575%;
  letter-spacing: 0.2em;
}