@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Zen+Loop&display=swap");
@import "./variables.scss";

.App{
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: all 1s ease-in-out;
  max-height: 100%;
}

/* .App::before{
    content: "";
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
} */

.welcomediv{  
  text-align: center;
  margin: auto;

  :hover{
    cursor: pointer;
  }
}

.welcome {
  color: #DDD;
  font-size: 575%;
  letter-spacing: 0.2em;
}
