@import "./variables.scss";

.container{
    width: 88%;
    margin: auto;
    margin-top: 1.8%;
    margin-bottom: 0;
    display: inline-flex;
}

.selector{
    margin: auto;
    text-align: center;
    margin-top: 0.5%;
    display: inline-flex;
    font-family: $genFont;
}

.dropdownTitle{
    width: 11%;
    text-align: center;
    font-family: $cursiveFont !important;
    font-weight: bold !important;
    color: #EEE;
    margin-top: 0.5% !important;
    margin-right: 3.5% !important;
}

.sliderTitleArray{
    font-family: $cursiveFont !important;
    font-weight: bold !important;
    color: #EEE !important;
    margin-left: 7.3% !important;
    margin-right: 1% !important;
    width: 14%;
}

.sliderTitleSorting{
    font-family: $cursiveFont !important;
    font-weight: bold !important;
    color: #EEE !important;
    margin-left: 12% !important;
    margin-right: 1% !important;
    width: 15%;
}

.sliders{
    display: block;
    width: 200%;
}

.sliderDropdown{
    float:left;
    justify-content: center;
    text-align: left;
    width: 95%;
    display: inline-flex;
    position: relative;
    margin-bottom: 1%;
    margin-top: 2%;
    
}

.buttons{
    display: flex;
    float:right;
    height: 200%;
    margin-top: 2%;
    width: 100%;
}

.resetButton{
    margin-top: 0.6%;
    margin-left: 2%;
    height: 2%;

    :hover{
        cursor: pointer;
        transform: scale(1.15);
        transition: 0.5 ease-in;
    }
}

.topButton{
    width: 50%;

}