#dropdown-basic-button{
    font-family: 'Lato', sans-serif !important;
    font-weight: bold !important;
    background-image: linear-gradient(0deg, #3646f0dd 15%, #0000 100%) !important;
    min-width: 180px !important;
    width: 200px !important;
    text-align: center;
    border: 0px;
    color: #DDD;
    background-color: transparent !important;
}

#dropdown-basic-button:active{
    box-shadow: none;
}

#dropdown-basic-button:hover{
    background-image: linear-gradient(0deg, #cc6d 20%, #0000 100%) !important;
}

#dropdown-basic-button:focus{
    box-shadow: none;
}

#dropdown-colors{
    background-image: linear-gradient(0deg, #3646f0dd 15%, #0000 100%) !important;
    border: none;
    background-color: transparent !important;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    margin-top: 5%;
    width: 140px;
}

#dropdown-colors:hover{
    background-image: linear-gradient(0deg, #cc6d 20%, #0000 100%) !important;
}

#dropdown-colors:active{
    box-shadow: none;
}

#dropdown-colors:focus{
    box-shadow: none;
}