#dropdown-basic-button{
    font-family: 'Lato', sans-serif !important;
    font-weight: bold !important;
    background-image: linear-gradient(90deg, #3a7bd5 10%, #00b5dd 100%) !important;
    min-width: 180px !important;
    width: 200px !important;
    text-align: center;
    border: 0px;
    color: #DDD
}

#dropdown-basic-button:active{
    box-shadow: none;
}

#dropdown-basic-button:focus{
    box-shadow: none;
}

#dropdown-colors{
    background-image: linear-gradient(0deg, #bdb8ffbb 0%, #00d2ffbb 100%);
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size:120%;
    margin-top: 5%;
    width: 100%;
    border-radius: 17px;
}

#dropdown-colors:active{
    box-shadow: none;
}

#dropdown-colors:focus{
    box-shadow: none;
}