@import "./variables.scss";

.footer{
    display: flex;
    width: 100%;
    padding: 1% 1.5%;
    background:#001030aa;
}

.author{
    text-align: left;
    margin-top: 0.9%;
    width: 10%;
    color: #DDD;
    font-size: 100%;
    height: 0%;
}

.brand{
    margin: auto;
    margin-left: 25%;
    text-align: center;
    color: #DDD;
    width: 30%;
}

.icons{
    position: relative;
    text-align: right;
    width: 7%;
}