@import "./variables.scss";

.container{
    width: 88%;
    margin: auto;
    margin-bottom: 0;
    display: inline-flex;
}

.selector{
    margin: auto;
    text-align: center;
    margin-top: 0.5%;
    display: inline-flex;
    font-family: $genFont;
}

.sliders{
    display: block;
    width: 200%;
}

.sliderDropdown{
    float:left;
    justify-content: center;
    text-align: left;
    width: 95%;
    display: inline-flex;
    position: relative;
    margin-bottom: 1%;
    margin-top: 2%;
    
}

.buttons{
    display: flex;
    float:right;
    height: 200%;
    margin-top: 4%;
    width: 30%;
}